MONGODB_URI=mongodb://127.0.0.1:27017
JWT_SECRET_KEY='secret'

CLIENT_URL="http://localhost:3000"

MAIL_SERVER="sandbox.smtp.mailtrap.io"
MAIL_PORT=2525
MAIL_USERNAME="6d56ea9d9d0e5b"
MAIL_PASSWORD="3ccc47fab8a807"
MAIL_FROM="ahrasel95@gmail.com"

PORT=6000
HOST='localhost'